<% layout('layouts/boilerplate')%>

<div class="overflow-auto py-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">*</th>
        <th scope="col">Biographies</th>
        <th scope="col">Books</th>
        <th scope="col">Scripture</th>
        <th scope="col">Articles</th>
        <th scope="col">Media</th>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tr>
      <td>table data</td>
      <td>table data</td>
      <td>table data</td>
      <td>table data</td>
      <td>table data</td>
      <td>table data</td>
      <td><a href="/admin/users/subscription">Manage Subscription</a></td>
    </tr>
  </table>
</div>

<script>
  const pageTitle = "Admin";
</script>
