<a>
    <div id="" style="min-height: 250px;" class="artAd card text-dark shadow p-4 text-center">
        <h5 class="text-decoration-underline text-capitalize"> </h5>
        <p class="small justify lh-lg p-0 m-0"></p>
    </div>
</a>

<script>
    const artAds = document.getElementsByClassName('artAd');
    axios.get('/articles/random').then(response => {
        for (artAd of artAds) {
            artAd.parentElement.href = `/articles/1/${response.data.name}`;
            artAd.querySelector('h5').innerText = response.data.name;
            artAd.querySelector('p').innerText = response.data.text.replace(/<[^>]*>/g, " ").substring(0, 300) + '...';
        }
    })
</script>