<a href="/articles/1/<%= adArt[1].name %>">
    <div class="card text-dark shadow p-4 text-center">
        <h5 class="text-decoration-underline"><%= adArt[1].name %> </h5>
        <p class="small justify lh-lg p-0 m-0" id=<%= adArt[1]._id %>><%= adArt[1].text.replace(/<[^>]*>/g, " ").substring(0, 300) %>...</p>
    </div>
</a>