<a>
    <div class="artAd card text-dark shadow p-4 text-center">
        <h5 class="text-decoration-underline text-capitalize"></h5>
        <p class="small justify lh-lg p-0 m-0"></p>
    </div>
</a>