<% layout('layouts/boilerplate') %> 

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a href="">Request book</a></li>
        <li><a href="">Save a book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none" id="fastDownButton">⏬</button>
    <button id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-9 col-lg-6 offset-md-3 overflow-auto">
    <form action="/books/adminUpload" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label" for="document">Pdf File</label>
            <input class="form-control" type="file" multiple="multiple" id="documents" name="documents" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3 text-center">                
            <button class="btn-lg btn-success">Upload</button>
        </div>
    </form>
</div>

<script>
    const pageTitle = "Books";
</script>
