<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-md-3 menu d-none d-md-block scroll">
        <a class="h5" href="/books">Feature</a>
        <a class="h5" href="/books/list">List</a>
        <ol>
            <li><a href="/books/list">A - Z</a></li>
            <li><a href="/books/categories">Category</a></li>
        </ol>
        <a href="/books/new">Add Book</a>
    </div>
    
    <div class="col-md-9 col-lg-6 offset-md-3 overflow-auto">
        <form action="/books/adminUpload" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label" for="document">Pdf File</label>
                <input class="form-control" type="file" multiple="multiple" id="documents" name="documents" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 text-center">                
                <button class="btn-lg btn-success">Upload</button>
            </div>
        </form>
    </div>
</div>

<a class="ms-auto me-auto btn btn-primary" href="/books/pdfImg">Add Pictures</a>

<script>
    const pageTitle = "Books";
</script>
