<% layout('layouts/boilerplate') %> 

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Request Book</a></li>
        <li><a href="/books/new">Upload a Book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-9 col-lg-6 offset-md-3 overflow-auto">
    <form action="/books/adminUpload" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label" for="document">Pdf File(s) -> Max ~ 100 files</label>
            <input class="form-control" type="file" multiple="multiple" id="documents" name="documents" max="100" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3 text-center">                
            <button class="btn-lg btn-success">Upload</button>
        </div>
    </form>
    <p class="text-danger">
        <small>note: <em>use ' - ' to separate book title and author name, use ' -- ' otherwise!</em></small>
    </p>
</div>

<script>
    const pageTitle = "Books";
</script>

<script>
    const filesInput = document.getElementById("documents");
    filesInput.onchange = (e) => {
        console.log(e);
        if (e.target.files.length > 100) {
            alert("Only 100 files accepted.");
            filesInput.value = null;
        }
    }
</script>
