<% layout('layouts/boilerplate')%>


<!-- <div id="cluster-map"></div> -->
<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a class="active" href="/books/categories">Category</a></li>
    </ol>
    <a href="/books/new">Add Book</a>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none" id="fastDownButton">⏬</button>
    <button id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>


<div class="col-md-9 col-lg-6 offset-md-3">
    <h3 class="p-3 mx-4">Categories</h3>

    <% for (let category of categories) { %> 
        <ul class="mb-3">
            <li><a class="btn btn-lg" href="/books/category?category=<%= category %>"><%= category %> </a></li>
        </ul>
    <% } %> 

</div>

<script>
    const pageTitle = "Books";
</script>
