<% layout('layouts/boilerplate') %> 

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Request Book</a></li>
        <li><a class="active" href="/books/new">Save a Book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none" id="fastDownButton">⏬</button>
    <button id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-9 col-lg-6 offset-md-3 d-flex flex-column align-items-center">
    <h3 class="text-center p-3">Add New Book</h3>
    <form id="newBookForm" style="width: 500px; max-width: 90%;" action="/books/new" method="POST" class="card p-5" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="book[title]" required>
            <div class="valid-feedback">
                Looks good!
                </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="author">Author</label>
            <input class="form-control" type="text" id="author" name="book[author]" required>
            <div class="valid-feedback">
                Looks good!
                </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="document">Pdf File</label>
            <input class="form-control" type="file" id="document" name="document" required>
            <div class="valid-feedback">
                Looks good!
                </div>
            </div>
        <div class="mt-5 text-center">                
            <button class="btn-lg btn-success w-25">Save</button>
        </div>
    </form>
</div>

<script>
    const pageTitle = "Books";
</script>

<script>
    document.getElementById('newBookForm').addEventListener('submit', () => loadWaiting())
</script>
