<div class="row ">
    <div class="col-md-9 col-lg-6 offset-md-3">
        <div class="row advert">
        <div class="footer-item col-8 col-md-5 offset-2 offset-md-0 ms-auto me-auto">
            <div class="web-ad text-center py-2 d-flex flex-column justify-content-center" style="color: lightgray;">
                <h4 class="m-2">Get your website</h4>
                <h4 class="m-2">up and running</h4>
                <h4 class="m-2">in 7 days or less,</h4>
                <h4 class="m-2">at discounted price!</h4>
                <p class="m-2"><a class="dotted-under" href="/?rq=1#contact">Click here</a></p>
                <!-- <h5 class="m-3">OR</h5>
                <h4 class="m-3">Send an email to</h4>
                <a style="word-wrap:break-word; color: inherit;" class="m-3 small" href="mailto:gipteam@hotmail.com">GIPTeam@hotmail.com</a> -->
            </div>
        </div>
        <div class="footer-item col-8 col-md-5 offset-2 offset-md-1 text-center ms-auto me-auto">
            <strong class="text-muted"><small>GET OUR APPS ON PLAY STORE(<em>Click Image </em>👇)</small></strong>
            <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active text-center">
                    <a href="https://play.google.com/store/apps/details?id=com.bibleworld.biblequiz_guessthebook" target="_blank">
                        <img width="45%" src="/assets/images/google-play-img-3.webp" class="" alt="...">
                        <img width="48%" src="/assets/images/google-play-img-4.webp" class="" alt="...">
                    </a>
                    <div class="carousel-caption d-md-block">
                      <h5 class="text-white">Bible: Guess the Book</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center">
                      <a href="https://play.google.com/store/apps/details?id=com.ToluJosh.biblereadingplanner" target="_blank">
                    <img width="45%" src="/assets/images/google-play-img-1.webp" class="" alt="...">
                    <img width="45%" src="/assets/images/google-play-img-2.webp" class="" alt="...">
                    </a>
                    <div class="carousel-caption d-md-block">
                      <h5>Bible Planner</h5>
                    </div>
                  </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        </div>
    </div>
</div>