<% if(success.length) { %> 
    <div class="alert alert-success alert-dismissible fade show text-center offset-md-3 col-md-6" role="alert">
        <%= success %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %> 
    
<% if(error.length) { %> 
    <div class="alert alert-danger alert-dismissible fade show text-center offset-md-3 col-md-6" role="alert">
        <%= error %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %> 