<% if(success.length) { %> 
    <div class="d-none alert alert-success alert-dismissible fade show text-center offset-md-3 col-md-5" role="alert">
        <%= success %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>
        let mydiv = document.createElement('div');
        mydiv.innerHTML = '<%- success %>';
        swal('', '', 'success', {content: mydiv})
    </script>
<% } %> 
    
<% if(error.length) { %> 
    <div class="d-none alert alert-danger alert-dismissible fade show text-center offset-md-3 col-md-5" role="alert">
        <%= error %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>
        let mydiv = document.createElement('div');
        mydiv.innerHTML = '<%- error %>';
        swal('', '', 'error', {content: mydiv})
    </script>
<% } %> 