<div style="z-index: 1000;" class="position-absolute top-0 left-0 <%= currentUser ? 'd-none' : 'd-flex' %> flex-column m-0  w-100 h-100 align-items-center">
    <div id="loginCard" style="transform: translateY(-200vh); transition: ease all 2s; box-shadow: 0px 0px 30px #aaa;" class="card position-fixed m-0 mt-3">
        <div class="loginSocials">
            <h5 class="card-title text-center">Login with</h5>
            <p>
                <a id="fbButton" class="btn btn-lg p-1 pb-2 ps-3 pe-3 me-3 btn-primary"><i class="bi bi-facebook pe-2 fs-4"></i><i>Facebook</i></a>
                <span>|</span>
                <a href="/login/ggl" class="btn btn-lg p-1 pb-2 ps-4 pe-4 ms-3 border-warning text-primary"><i class="fs-4">Google</i><i class="bi bi-google ps-2"></i></a>
            </p>
        </div>
        <div class="card-body pt-0">
            <h5 class="card-title text-center mb-4">OR</h5>
            <form action="/login/pwd" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <!-- <label class="form-label" for="username">Email</label> -->
                    <input class="form-control" type="email" id="username" name="username" placeholder="Email" autofocus required>
                </div>

                <div class="mb-3 position-relative">
                    <!-- <label class="form-label" for="password">Password</label> -->
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                    <i role="button" class="bi bi-eye-slash position-absolute bottom-0 end-0 fs-5 p-2 me-4" id="togglePassword"></i>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-success btn-block me-auto w-50">Login</button>
                    <a class="small btn text-primary w-50" href="/register">Register</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        setTimeout(() => {
            document.getElementById('loginCard').style.transform = 'translateY(0vh)'
        }, 4000)
    </script>
  
  <script>
      const togglePassword = document.querySelector('#togglePassword');
      const password = document.querySelector('#password');
      togglePassword.addEventListener('click', () => {
          const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
          password.setAttribute('type', type);
          togglePassword.classList.toggle('bi-eye');
      });
  </script>
  
</div>