<div class="fixed-top">

  <div class="subheader p-0 pt-2 pb-2 m-0">
    <div class="container flex px-md-5 mx-md-5">
        <div class="subheadings">
            <h3 class="mt-3"><a href="/"><img class="navImage" src="/assets/images/burningBook.jfif" alt="GIP Library icon"></a><span class="d-none d-sm-inline" id="viewing"></span></h3>
        </div>
        <div class="subheadings">
            <form action="" id="searchForm" method="get" class="search-area flex mt-0">
                <button id="searchButton">🔎</button>
                <input
                    type="text"
                    id="search"
                    name="search"
                    placeholder="search"
                    size="15"
                    onkeydown="if (event.keyCode == 13) searchButton()"
                />
            </form>
        </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark custom-bg texture">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">God In Prints</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link" id="biographies" href="/biographies/">Biographies</a>
          <a class="nav-link" id="books" href="/books">Books</a>
          <a class="nav-link" id="bible" href="/bible">Scripture</a>
          <a class="nav-link" id="articles" href="/articles">Scripts</a>
          <a class="nav-link" id="growth" href="/growth">Personal Growth</a>
          <a class="nav-link" id="resources" href="/resources" rel="nofollow">Other Resources</a>
        </div>
        <div class="navbar-nav ms-auto position-relative">
          <% if (!currentUser) { %> 
            <a class="nav-link" id="login" href="/login">Login</a>
            <a class="nav-link" id="register" href="/register">Register</a>
          <% } else { %> 
            <a class="nav-link" id="login" href="#!"><i class="bi bi-person-circle text-light me-3"></i><%= currentUser.firstName %> <i id="userNavArrow" class="bi bi-caret-left-fill fs-6 ms-2"></i></a>
            <div id="userNavPopup" style="width: max-content;" class="position-absolute top-100 end-50 card p-2 d-none">
              <a class="btn btn-lg text-primary border-bottom mb-2" href="/profile">Manage Account</a>
              <a class="btn btn-lg btn-outline-primary" href="/logout">Sign out</a>
            </div>
          <% } %> 
        </div>
      </div>
    </div>
  </nav>

</div>  

<script>
  const userNavPopup = document.getElementById('userNavPopup');
  if (userNavPopup) {
    const userNavArrow = document.getElementById('userNavArrow');
    document.getElementById('login').addEventListener('click', toggleUserPopup)
    document.getElementById('login').addEventListener('focusout', closeUserPopup)

    function toggleUserPopup() {
      userNavPopup.classList.toggle('d-none');
      userNavArrow.classList.toggle('bi-caret-down-fill');
      userNavArrow.classList.toggle('bi-caret-left-fill');
    }
    function closeUserPopup() {
      setTimeout(() => {
      userNavPopup.classList.add('d-none');
      userNavArrow.classList.remove('bi-caret-down-fill');
      userNavArrow.classList.add('bi-caret-left-fill');
      }, 200)
    }
  }
</script>