<div class="mymodal" id="mymodal">
  <div style="max-height: 90%; overflow-y: auto;" class="p-4">
    <div style="max-width: 29rem; width: 90%;;" class="card shadow p-0">
      <div class="card-body position-relative p-3">
          <div class="text-center">
            <img width="65" src="/assets/images/burningBook.jfif" alt="GIP icon" />
          </div>
          <span id="closeButton" style="width: 2.5rem; height: 2.5rem; font-weight: bold;" class="position-absolute top-0 start-100 translate-middle text-light rounded-circle btn btn-warning d-flex align-items-center justify-content-center">x</span>
          <strong style="text-align:justify;" class="card-title d-block form-text">God-in-prints aim to reach every person with soul-building writes, from the life and written works of many a great and godly minds.</strong>
          <strong class="card-title d-block text-center small">Kindly support our mission</strong>
          <form id="paymentForm" class="validated-form border rounded pt-3" novalidate>
              <div class="input-group m-3 w-75 ms-auto me-auto">
                  <label class="input-group-text" for="email">Email  :</label>
                  <input class="form-control" type="email" id="email" name="email" required>
              </div>
              <div class="input-group m-3 w-75 ms-auto me-auto">
                  <label class="input-group-text" for="amount">Amount:</label>
                  <input class="form-control  w-25" type="number" min="1000" id="amount" name="amount" required>
                  <select value="NGN" class="form-select" name="currency" id="currency" disabled required>
                    <option value="NGN">NGN</option>
                    <option value="USD">USD</option>
                  </select>
              </div>
              <div class="input-group m-3 w-75 ms-auto me-auto">
                <textarea placeholder="Leave a message" class="form-control" name="message" id="message" rows="3"></textarea>
              </div>
              <div class="text-end m-3 w-75 ms-auto me-auto">
                  <button class="btn btn-success btn-block me-auto w-50">Send</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>