<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>GIP Library - About Us</title>
		<meta name="description" content="About God-in-prints Libraries.">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/assets/images/burningBook.jfif" type="image/x-icon">
		<link rel="stylesheet" href="assets/css/main.css" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5331978820452259"
		crossorigin="anonymous"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo"><strong>God-in-prints</strong> <span>Libraries</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/features">Features</a></li>
							<li><a href="/bible">Scripture</a></li>
							<li><a href="/about">About us</a></li>
						</ul>
						<ul class="actions stacked">
						<% if (!currentUser) { %> 
							<li><a href="/register" class="button primary fit">Register</a></li>
							<li><a href="/login" class="button fit">Log In</a></li>
						<% } else { %> 
							<li><a href="/profile" class="button primary fit">Manage Account</a></li>
							<li><a href="/logout" class="button fit">Log Out</a></li>
						<% } %> 
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>About Us</h1>
									</header>
									<span class="image main"><img src="assets/images/aboutUs.jfif" alt="about us" /></span>
									<p><b>God-in-prints </b> is a virtual library and repository of personal and spiritual development materials. Our list of resources include: biographies of notable and exceptional men, inspired scripts, books on various aspects of human life, multiversion Scriptures, personal development guide, and other valuable resources. We are delighted to have you here and do hope that you are greatly blessed as you explore our little bank of knowledge. God bless you. 🤝</p>
									<p><b>Mission: </b>To provide a virtual home for every God-seeker, where they can always come for inspiration and self-development, from the written works of many experts and heroes of the faith and from God's word.</p>
									<p><b>Vision: </b>To be the world's largest repository of Kingdom knowledge.</p>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form id="messageForm" name="messageForm">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" value='<%= !currentUser ? "" : (currentUser.firstName + " " + currentUser.lastName) %>'  />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" value="<%= !currentUser ? '' : currentUser.email %> " />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="mailto:GIPTeam@hotmail.com">GIPTeam@hotmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(+234) 704-114-7115</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>02 Oshuntokun Avenue<br />
										Ibadan, Nigeria</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<!-- <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li> -->
								<li><a href="https://web.facebook.com/godinprints" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<!-- <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li> -->
							</ul>
							<ul class="copyright">
								<li>&copy; <%= new Date().getFullYear() %>  God-in-prints.org </li><li>Design (<em>Home</em>) : <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>


			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

			<script type="text/javascript"
					src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
			</script>
			<script type="text/javascript">
			(function(){
				emailjs.init("LLErcEZSRlUGBQ138");

				const messageForm = document.getElementById('messageForm');
				messageForm.onsubmit = function(e) {
					e.preventDefault();
					try {
						emailjs.sendForm('service_sdb5kby', 'template_qyakobg', messageForm);
						alert('Message sent successfully!');
						e.target.reset();
					} catch (error) {
						alert('An error occured');
					}
				}
			})();
			</script>

	</body>
</html>