<% layout('layouts/boilerplate') %> 
<div class="row mt-5">
    <div class="d-flex justify-content-center gap-3 align-items-center">
        <form id="imageUploadForm" style="width: 450px; max-width: 90%;" action="<%= route %>" method="POST" class="card" enctype="multipart/form-data">
            <div class="m-5">
                <label class="form-label h5" for="image"><%= msg %></label>
                <input class="form-control" type="file" id="image" name="image" required>
            </div>
            <div class="mb-5 text-center">
                <button class="btn btn-success w-25">Upload</button>
            </div>
        </form>
        <% if (route.split('/')[1] == 'Articles') { %>
        <form id="imageLinkForm" style="width: 450px; max-width: 90%;" action="/articles/<%= route.split('/')[2] %>/imageLink" method="POST" class="card">
            <div class="m-5">
                <label class="form-label h5" for="link">Or Add Link:</label>
                <input class="form-control" type="url" id="link" name="link" required>
            </div>
            <div class="mb-5 text-center">
                <button class="btn btn-success w-25">Save</button>
            </div>
        </form>
        <% } %>
    </div>
</div>

<script>
    const pageTitle = '<%= route.split('/')[1] %>';
</script>

<script>
    document.getElementById('imageUploadForm').addEventListener('submit', () => loadWaiting());
    document.getElementById('imageLinkForm').addEventListener('submit', () => loadWaiting());
</script>