<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 d-flex flex-column align-items-center">
        <h3 class="text-center m-5"><%= msg %> </h3>
        <form id="imageUploadForm" style="width: 450px; max-width: 90%;" action="<%= route %>" method="POST" class="card" enctype="multipart/form-data">
            <div class="m-5">
                <!-- <label class="form-label" for="image">Image:</label> -->
                <input class="form-control" type="file" id="image" name="image" required>
            </div>
            <div class="mb-5 text-center">
                <button class="btn btn-success w-25">Upload</button>
            </div>
        </form>
    </div>
</div>

<script>
    const pageTitle = '<%= route.split('/')[1] %>';
</script>

<script>
    document.getElementById('imageUploadForm').addEventListener('submit', () => loadWaiting())
</script>