<% layout('layouts/boilerplate')%>

<!-- <div id="cluster-map"></div> -->
<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5" href="/articles">Feature</a>
    <a class="h5" href="/articles/list">List</a>
    <ol>
        <li><a href="/articles/list">Index</a></li>
        <li><a class="active" href="/articles/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Suggest a Topic</a></li>
        <li><a href="/articles/new">Post Article</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>
<a href=""></a>
    
<div class="col-md-9 col-lg-6 offset-md-3">
    <h1 class="h3 p-3 mx-4">Articles Categories</h1>

    <% for (let category of categories) { %> 
        <ul class="mb-3">
            <li><a class="btn btn-lg" href="/articles/category?category=<%= category %>"><%= category %> </a></li>
        </ul>
    <% } %> 
</div>

<script>
    const pageTitle = "Articles";
</script>
