html, body {
    width: 100vw;
    overflow-x: clip;
    background-color: #e8eff5;
}

.row, .container {
    margin: 0;
}

table, th, td {
    border: 5px solid #e8eff5;
    /* border-collapse: collapse; */
    background-color: #F6FBFF;
}

tr {
    min-height: 200px;
}

td {
    border-style: inset;
    min-width: 12rem;
    max-width: 20rem;
}

td img {
    max-width: 100px;
}
td div.container p {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.texture {
    background-image: url(../assets/images/bg-texture.png) !important;
}

.justify {
    text-align: justify;
}

.book-image {
    max-width: 15rem;
    margin: auto;
}

.bio-image {
    max-width: 20rem;
    margin: auto;
}

.article-image {
    max-width: 25rem;
    margin: auto;
}

.text, .ta {
    white-space: pre-line;
}

.bg {
    /* background-image: url("/assets/images/burningSheet.jpeg");
    background-size: 50% 75%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed; */
}

.custom-bg {
    background: #2a2f4a;
}

.title-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-shadow: 0px 0px 3px black; */
    text-decoration: underline;
    padding: 1em;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

.icon {
    width: 100px;
    height: 100px;
}

.book-tab {
    border-width: 3px;
    border-radius: 0px 0px 2rem 2rem;
}

.bible-tab {
    opacity: 0.4;
    border-radius: 75px;
}
/* 
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

.habit-title, .growth-title {
    background-color: #F6FBFF;
    margin: 10px;
}

.text-white {
    text-shadow: 1px 1px 3px rgb(114, 37, 37);
}

.menu {
    background-color: rgba(255, 255, 255, 0.3);
    border-right: 1px solid #ccc;
    padding: 2% 2% 2% 3%;
    position:fixed;
    height: calc(100vh - 150px);
    max-width: max(16em, 15%);
}

.menu>a {
    color: #666;
    display: block;
    font-weight: bolder;
    padding: 3px;
    margin-top: 30px;
    border-radius: 2px;
    /* border-bottom: 1px solid #ddd; */
}

.menu-list, .menu li a {
    color: #666;
    display: block;
    font-size: small;
    padding: 5px;
    border-radius: 3px;
}

.menu-list:hover, .menu a:hover, .menu li a:hover {
    color: #999;
    cursor: pointer;
}

.menu-list.active, .menu a.active, .menu li a.active {
    color: #333;
    background: rgba(42, 47, 74, 0.2);
    cursor: pointer;
}

.menu a:active, .menu li a:active {
    color: #ccc;
}


.scroll-xy::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scroll-xy::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 150px);
}
.scroll:not(.menu) {
    transform: translateX(-15px);
}
.scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.scroll::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 3px;
}

.multiline-ellipsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

.review {
    position: fixed;
    max-height: 100vh;
    right: 10px;
}

.review-box {
    max-height: 7em;
    overflow-y: auto;
}

.review-text {
    font-family: "Sofia", sans-serif;
    letter-spacing: -1px;
}

article span.play {
    opacity: 0;
    transition: all 0.3s;
}
article:hover span.play {
    opacity: 0.7;
}

@media screen and (max-width: 767.98px) {
    .menu {
        background-color: rgba(255, 255, 255, 0.3);
        border-right: none;
        padding: 2% 2%;
        position: relative;
        height: fit-content;
        max-width: 100%;
        text-align: center;
    }
        
    .menu>a {
        font-weight: bold;
        padding-bottom: 5px;
        margin-top: 5px;
        /* border-bottom: 1px solid #ddd; */
    }

    .menu-list, .menu li a {
        padding-bottom: 10px;
    }

    .scroll {
        height: fit-content;
    }

    ol {
        list-style:none;
        padding-left:0;
    }

    .menu-list {
        margin: auto;
        margin-top: 5px;
    }

    form {
        margin: 0;
    }
}

@media (max-width: 991.98px) {
    .review {
        position: relative;
        max-height: fit-content;
        right: 0px;
    }
    
    .scroll:not(.menu) {
        transform: translateX(0px);
    }
}

.image-size {
    max-width: 20em;
    min-width: 15em;
    align-self: center;
}

.card-size {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.bible {
    background-image: url('/assets/images/bible.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    margin-top: 150px;
    margin-bottom: 5px;
    color: #242943;
}

.footer-item {
    max-width: 640px;
    margin-bottom: 32px;
}

.advert {
    margin-top: 80px;
}

.dotted-under {
    color: inherit; 
    border-bottom: 1px dotted;
}

.web-ad {
    background-color: blue;
    width: 100%;
    height: 100%;
    min-height: 150px;
    box-shadow: 8px 8px 10px gray;
    transition: all 1s;
}

@keyframes fade {
    0%   {opacity: 1.0;}
    20%  {opacity: 0.1;}
    40%  {opacity: 1.0;}
    50%  {filter: saturate(4);}
    100% {filter: saturate(1);}
}

.fade-animate {
    box-shadow: 8px 8px 10px grey;
    animation-name: fade;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.navImage {
    width: 40px;
    height: 40px;
}

.navbar-brand {
    text-shadow: 0px 0px 3px red, 0px 0px 5px white;
}

.inherit-color {
    color: inherit;
}

.article-list {
    border-radius: 50px 0px 50px 0px;
    transform: skewX(-10deg);
}

#contact, #footer {
    background: #242943;
}

.loginSocials {
    margin: 1rem 0;
}

.loginSocials p {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
}

.loginSocials span {
    font-size: 3rem;
    margin-bottom: 12px;
    color: gray;
}

.mymodal {
    position: fixed;
    z-index: -10;
    width: 110vw;
    height: 110vh;
    background-color: rgba(33, 37, 41, 0.6);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease all 1s;
}

.mymodal > div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.mymodal > div::-webkit-scrollbar {
    display: none;
}

.mymodal .card {
    transform: translateY(100vh);
    transition: ease all 1s;
}

.mymodal.open {
    z-index: 10000;
    opacity: 1;
}

.mymodal.open .card {
    transform: translateY(0);
}

.subscription.disabled {
    box-shadow: none;
}

.subscription {
    min-width: 270px;
    box-shadow: 0 0 20px #ccc;
}

.subscription:not(.disabled):hover {
    box-shadow: 0 0 5px #ccc;
}

.subscription .border {
    user-select: none;
}



.editable .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
.editable button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
.editable select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
  }
  .editable .options label,
  .editable .options select {
    font-family: "Poppins", sans-serif;
  }
  .editable .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .editable input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
  }
  .editable input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  .editable input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  .editable #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
  }
  .editable .active {
    background-color: #e0e9ff;
  }

  /* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .mytooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    width: max-content;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;
  }
  .mytooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .mytooltip:hover .tooltiptext {
    visibility: visible;
  }