<% layout('layouts/boilerplate')%>

<!-- <div id="cluster-map"></div> -->
<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a href="/media/movies">Movies</a>
    <ol>
        <li><a class="active" href="/media/movies">Feature</a></li>
        <li><a href="/media/movies/playlists">Playlists</a></li>
    </ol>
    <a href="/media/music">Songs</a>
    <ol>
        <li><a href="/media/music">Artists</a></li>
        <li><a href="/media/music/playlists">Playlists</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none" id="fastDownButton">⏬</button>
    <button id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>
    
<div class="col-md-9 col-lg-6 offset-md-3">
    <h1 class="h3 p-3 text-center d-none">Feature Movies</h1>

</div>

<script>
    const pageTitle = "Media";
</script>
