<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-none d-md-block scroll">
    <a class="h5 active" href="/bible">Cover Page</a>
    <a class="h5" href="/bible/chapter?chapter=jhn.3">Passage</a>
    <form action="/bible/chapter" id="chapterForm" method="get">
        <div class="container m-0 p-0">
            <select class="menu-list p-2 search-area " name="book" id="book"></select>
            <select class="menu-list p-2 search-area " name="chapter" id="chapter"></select>
        </div>
    </form>
    <a href="">Version</a>
    <div class="container m-0 p-0">
        <select form="chapterForm" class="menu-list p-2 search-area " name="version" id="version"></select>
    </div>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class="d-none btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-9 col-lg-6 offset-md-3">
    <div class="row">
        <div class="col-10  offset-1">
            <h1 class="p-3 text-center">The Bible</h1>
            <div style="border-radius: 3rem;" class="bible text-center m-3">
                <p class="text-white h3 p-3">The statutes of the LORD are right,</p> 
                <p class="text-white h3 p-3">rejoicing the heart:</p> 
                <p class="text-white h3 p-3">the commandment of the LORD is pure,</p>
                <p class="text-white h3 p-3">enlightening the eyes.</p>
                <a id="bibleLink" class="btn btn-light shadow text-dark m-3" href=''>OPEN</a>
            </div>
            <div class="d-none" id="links">
                <a href="/Bible/search?search=blessed">Search Bible</a>
            </div>
        </div>
    </div>
</div>


<script>
    const chapter = localStorage.getItem('bibleChapter') || 'jhn.3';
    const version = localStorage.getItem('bibleVersion') || 'de4e12af7f28f599-02';
    const bibleUrl = `/bible/chapter?chapter=${chapter}&version=${version}`;
    const aButton = document.getElementById('bibleLink');
    aButton.href = bibleUrl;
</script>
<script src="/javascripts/bibleData/bible_index.js"></script>

<script>
    const pageTitle = "Bible";
</script>