<% layout('layouts/boilerplate')%>

<div class="col-md-3 menu d-none d-md-block scroll">
    <a class="h5" href="/bible">Cover Page</a>
    <a class="h5" href="bible/chapter?chapter=jhn.3">Passage</a>
    <form action="/bible/chapter" id="chapterForm" method="get">
        <div class="container">
            <select class="menu-list p-2 search-area " name="book" id="book"></select>
            <select class="menu-list p-2 search-area " name="chapter" id="chapter"></select>
        </div>
    </form>
    <a href="#">Version</a>
</div>

<div class="col-md-9 col-lg-6 offset-md-3">
    <div class="row">
        <div class="col-10  offset-1">
            <div class="bible text-center m-3">
                <p class="text-white h3 p-3">The statutes of the LORD are right,</p> 
                <p class="text-white h3 p-3">rejoicing the heart:</p> 
                <p class="text-white h3 p-3">the commandment of the LORD is pure,</p>
                <p class="text-white h3 p-3">enlightening the eyes.</p>
                <a class="btn btn-light shadow text-dark m-3" href="bible/chapter?chapter=jhn.3">OPEN</a>
            </div>
        </div>
    </div>
</div>

<script>
    const pageTitle = "Bible";
</script>