<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 d-flex flex-column align-items-center">
        <h3 class="text-center m-5">Password Reset</h1>
        <form style="width: 450px; max-width: 90%;" id="changePasswordForm" action="/changePassword" method="POST" class="card p-5">
            <div class="">
                <label class="form-label" for="image">Enter your email:</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mt-5 text-center">                
                <button class="btn btn-success w-50">Reset Password</button>
            </div>
            <div class="mt-5 text-center">           
                <small>-<%= msg %>-</small>
            </div>
        </form>
    </div>
</div>

<script>
    const pageTitle = 'Profile';
</script>

<script>
    document.getElementById('changePasswordForm').addEventListener('submit', () => loadWaiting())
</script>