<% layout('layouts/boilerplate')%>

<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '658989752467435',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v15.0'
      });
        // FB.getLoginStatus(function(response) {
        //     console.log(response);
        //     FB.logout(function(response) {
        //         deleteCookie("fblo_658989752467435"); // fblo_yourFBAppId. example: fblo_444499089231295
        //     });

        //     function deleteCookie(name) {
        //         document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        //     }
        // });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="row">
        <!-- <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4"> -->
            <div style="max-width: 25em;" class="card shadow p-0">
                <img src="assets/images/library3.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login/pwd" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Email</label>
                            <input class="form-control" type="email" id="username" name="username" autofocus required>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <i role="button" class="bi bi-eye-slash position-absolute bottom-0 end-0 fs-5 p-2 me-4" id="togglePassword"></i>
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-success btn-block me-auto w-50">Login</button>
                            <a class="small btn text-primary w-50" href="/register">Register</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="loginSocials">
            <p>
                <em>------ OR ------</em>
            </p>
            <p><small>Login with</small></p>
            <p>
                <a id="fbLogin" href="#" class="btn btn-lg p-1 pb-2 ps-3 pe-3 me-3 btn-primary"><i class="bi bi-facebook pe-2 fs-4"></i><i>Facebook</i></a>
                <span>|</span>
                <a href="/login/ggl" class="btn btn-lg p-1 pb-2 ps-4 pe-4 ms-3 border-warning text-primary"><i class="fs-4">Google</i><i class="bi bi-google ps-2"></i></a>
            </p>
        </div>
        <div style="max-width: 25em;" class="col-12 text-center mt-2 d-flex justify-content-center">
            <a style="border-bottom:1px dotted;" class="small btn text-primary p-0" href="/changePassword">Forgot Password?</a>
        </div>
</div>

<script>
    const pageTitle ='Login';
</script>
  
<script>
    const togglePassword = document
        .querySelector('#togglePassword');

    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', () => {

        // Toggle the type attribute using
        // getAttribure() method
        const type = password
            .getAttribute('type') === 'password' ?
            'text' : 'password';
              
        password.setAttribute('type', type);

        // Toggle the eye and bi-eye icon
        togglePassword.classList.toggle('bi-eye');
    });
</script>

<script>

    const fbLogin = document.querySelector('#fbLogin');

    fbLogin.addEventListener('click', () => {
    //   FB.getLoginStatus(function(response) {
    //       if (response.authResponse === null) {
        const loginForm = new FormData();

        FB.login(function(response){
            console.log(response)
            // loginForm.append('loginType', 'facebook');
            // loginForm.append('accessToken', response.accessToken);
            // loginForm.append('facebookId', response.userID);
            
            FB.api('/me?fields=name,email', function (res) {
                console.log(res)
                // loginForm.append('email', res.email);
                // loginForm.append('firstName', res.name.split()[0]);
                // loginForm.append('lastName', res.name.split()[1] || 'Person');
                // loginForm.append('password', res.id);
                // console.log(loginForm)
                    data = {
                        loginType: 'facebook',
                        accessToken: response.accessToken,
                        facebookId: response.userID,
                        email: res.email,
                        firstName: res.name.split()[0],
                        lastName: res.name.split()[1] || 'Person',
                        password: res.id,
                    }
                fetch('https://godinprints.org/register', {
                    method: 'POST', // or 'PUT'
                    // headers: {
                    //     'Content-Type': 'application/json',
                    // },
                    body: new FormData(data),
                })
                .then((response) => response.json())
                .then((result) => {
                    console.log('Success:', result);
                })
                .catch(function (error) {
                    alert(error.toString());
                });
            });
        }, {scope: 'public_profile,email'});
        //   } else {
        //     console.log(response.authResponse)
        //   }
    //   });
    })

</script>