<% layout('layouts/boilerplate') %> 
<div class="row my-5">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 d-flex flex-column align-items-center">
        <h3 class="text-center m-5">Password Reset</h3>
        <form id="setPasswordForm" style="width: 450px; max-width: 90%;" action="/changePassword/<%= userId %>/<%= resetCode %>" method="POST" class="card p-5">
            <div class="">
                <label class="form-label" for="image">Enter new password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mt-5 text-center">                
                <button class="btn btn-success w-25">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    const pageTitle = 'Profile';
</script>

<script>
    document.getElementById('setPasswordForm').addEventListener('submit', () => loadWaiting())
</script>